* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-color-primary: #f7dd43;
  --card-title-border-color: #746615;
  --card-bg-color: #1d1c19;
  --bg: url(./assets/bg-yellow.svg)
}

body.blue {
  --card-color-primary: #338a;
  --card-title-border-color: #338af3;
  --card-bg-color: #202024;
  --bg: url(./assets/bg-blue.svg)
}

body.green {
  --card-color-primary: #047c3f;
  --card-title-border-color: #047c3f;
  --card-bg-color: #1a1f1b;
  --bg: url(./assets/bg-green.svg)
}

ul {
  list-style: none;
}

body {
  background-color: #121214;
  background-image: var(--bg);
  background-position: top center;
  /*background-position-x: center;
  background-position-y: 0%;*/
  background-repeat: no-repeat;
  background-size: 100%;
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 4%;
  max-width: 1800px;
  flex-wrap: wrap
}

.cards {
  padding: 32px 23px;
  text-align: center;
  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-title-border-color);
  border-radius: 6px;
}

.cards h2 {
  display: flex;
  gap: 16px;
  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: var(--card-color-primary);
}

.cards h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.cards ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.cards ul li+li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.cards ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards ul li strong {
  font-size: 36px;
  font-weight: 900;
  line-height: 125%;
  color: #e1e1e6;
}

.cards ul li strong:hover {
  transform: scale(2.1);
}

.cards ul li img:hover {
  transform: scale(2.1);
}

.cards ul li strong {
  transition: transform 0.3s;
}

.cards ul li img {
  transition: transform 0.3s;
}

.cards {
  opacity: 0;
  animation: appear 3s forwards;
}

/*.cards:nth-child(1){animation-delay: 1s;}
.cards:nth-child(2){animation-delay: 3s;}
.cards:nth-child(3){animation-delay: 5s;}*/

@keyframes appear {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 700px) {
  #card {
    /*max-width: 1000px;*/
    flex-direction: row;
    /*flex-wrap: wrap;*/
  }
}